---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="关于我">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="关于我"
      description="Hello 👋 I'm a frontend engineer from Nanjing, China. I'm passionate about building new products and learning new technology."
    />
    <div class="relative w-full ">

      <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
        嘿😎，我是常州的前端程序员，专搞Web开发，设计酷炫页面，玩转各种前端技术和框架。追求新技术，提升用户体验，让每次点击都充满乐趣。这就是我，超酷的前端码农！ <br
          class="hidden lg:block"
        />
      </p>
      <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
        搭建此博客，核心目的有二：
      </p>
      <ul
        class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
      >
        <li>一方面，助力学习，将 Vue.js、React.js、Node.js 开发及网站设计学习中的要点、难题解法储存，如同知识 “小宝库”，如记录 Vue.js 组件运用技巧，促进知识积累。</li>
        <li>另一方面，用于交友，分享学习的疑难、心得，吸引朋友。大家在评论区交流 Node.js 优化、网站设计思路，在互动中结伴求知，排解学习孤寂。</li>

      </ul>
    </div>

    <img src="/assets/images/about.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Short Bio</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Front-end cutter 🧑🏻‍💻, back-end amateur 🤷🏻‍♂️, operations digging holes person 🤦🏻‍♂️.
    </p>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      工作经历
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          )
        })
      }
    </div>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">联系我</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
    如果您想了解我的工作动态，请务必关注我的微博，或者您可以给我发邮件，我一定会回复您。 <a
        href="https://x.com/0xKaibi"
        target="_blank"
        class="text-indigo-600 underline">新浪微博</a
      >
    </p>
  </section>
</Layout>
